{% extends ":base:layout_admin.html.twig" %}

{% block gite_body -%}
<!-- <h1>Gite list</h1> -->

<table class="records_list">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Content</th>
			<th>Options</th>
			<th>Prix</th>
			<th>Capacité</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for entity in entities %}
		<tr>
			<td>
				<a href="{{ path('gite_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
			</td>
			<td>{{ entity.name }}</td>
			<td>{{ entity.content }}</td>
			<td>{{ entity.options }}</td>
			<td>{{ entity.prix }}</td>
			<td>{{ entity.capacity }}</td>
			<td>
				<ul>
					<li>
						<a href="{{ path('gite_show', { 'id': entity.id }) }}">show</a>
					</li>
					<li>
						<a href="{{ path('gite_edit', { 'id': entity.id }) }}">edit</a>
					</li>
				</ul>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<ul>
	<li>
		<a href="{{ path('gite_new') }}">
			Create a new entry
		</a>
	</li>
</ul>
{% endblock %}
