<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>{% block title %}Domaine des Ducs !{% endblock %}</title>
		<link href="{{ asset('content/css/material-design-lite/material.min.css') }}" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		{% block stylesheets %}{% endblock %}
		<link href="{{ asset('favicon.ico') }}" rel="icon" type="image/x-icon"/>
		<script src="{{ asset('content/js/jquery-2.1.4.min.js') }}"></script>
	</head>
	<body>
		<div class="layout js-layout layout--fixed-header">
			{% include("::shared/_header.html.twig") %}
			<main class="layout__content">
				<div class="page-content">
					{% block body %}{% endblock %}
				</div>
			</main>
		</div>
		{% include("::shared/_footer.html.twig") %}
		{% block javascripts %}
		<script src="{{ asset('content/js/material-design-lite/material.min.js') }}"></script>
		<script src="{{ asset('content/js/main.js') }}"></script>
		{% endblock %}
	</body>
</html>
