{% extends "MainBundle::Main/layout.html.twig" %}

{% block body -%}
    <h1>Ajouter des images</h1>
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.url) }}
    {{ form_row(form.alt) }}
    <br>
    {{ form_end(form) }}
{% endblock %}
