{% extends "HomeBundle::Main/layout.html.twig" %}
{% block home_body %}
<div class="row">
	<div class="col-md-12">
		{{ form_start(formulaire_reservation) }}
		{{ form_errors(formulaire_reservation) }}

		{{ form_row(formulaire_reservation.arrival, { 'attr': {
			'class': 'datepicker form-control',
			'data-date-format':'dd/mm/yyyy'}}) }}
		{{ form_row(formulaire_reservation.departure, {
			'attr': {'class': 'datepicker form-control',
			'data-date-format':'dd/mm/yyyy'}}) }}
		{{ form_row(formulaire_reservation.content, { 'attr': {
			'class': 'form-control'}}) }}
		{{ form_row(formulaire_reservation.capacity, { 'attr': {
			'class': 'form-control'}}) }}
		<br>
		{{ form_end(formulaire_reservation) }}
	</div>
</div>
{% endblock %}
