{% extends "MainBundle::Main/layout.html.twig" %}

{% block body -%}
    <h1>Reservation</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Arrival</th>
                <td>{{ entity.arrival|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Departure</th>
                <td>{{ entity.departure|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ entity.content }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ entity.capacity }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('reservation') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('reservation_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
