{% extends "HomeBundle::Main/layout.html.twig" %}
{% block home_body %}
<h1>Les gites</h1>
<<<<<<< Updated upstream
{{ render(controller('GiteBundle:Gite:getListGites')) }}
=======

<div class="row">
	{% for gite in gites|slice (0, 2) %}
	<div class="col-md-6">
		<p>{{ gite.id|raw }}</p>
		<p>
			<a href="{{ path('gite_view', { 'id':gite.id }) }}">{{ gite.name|raw }}</a>
		</p>
		<p>{{ gite.options }}</p>
		{{ gite.content|raw }}
		<br/>
	</div>
	{% else %}
<li>Pas (encore !) d'article</li>
{% endfor %}
</div>
>>>>>>> Stashed changes
{% endblock %}
