{% extends "HomeBundle::Main/layout.html.twig" %}
{% block home_body %}
    <div class="row">
        {{ form_start(formulaire_gite) }}
        {{ form_errors(formulaire_gite) }}

        {{ form_row(formulaire_gite.name, { 'attr': {
            'class': 'form-control'}}) }}
        {{ form_row(formulaire_gite.content, { 'attr': {
            'class': 'form-control'}}) }}
        {{ form_row(formulaire_gite.options, { 'attr': {
            'class': 'form-control'}}) }}
        <br>
        {{ form_end(formulaire_gite) }}
    </div>
{% endblock %}
