{% extends "MainBundle:Main:layout.html.twig" %}
{% block body %}
    <div class="grid">
        {% if galerie %}
            <ul class="cb-slideshow cell cell--12-col layout--large-screen-only">

                {% for image in galerie.images %}
                    <li>
                        <img src="{{ asset('galeries/galerie_'~ galerie.id ~ '/' ~ image.url) | imagine_filter('full_screen') }}"/>
                    </li>
                {% endfor %}

            </ul>

            <div class="cell cell--12-col layout--small-screen-only">
                {% for image in galerie.images | slice (1,1) %}
                    <img src="{{ asset('galeries/galerie_'~ galerie.id ~ '/' ~ image.url) | imagine_filter('full_screen') }}"/>
                {% endfor %}
            </div>
        {% endif %}

        <div class="cell cell--12-col">
            <h1>{{ gite.name|raw }}</h1>
        </div>

        <div class="cell cell--8-col">
            <h3>Description</h3>

            <p>{{ gite.content|raw }}</p>

            <h3>Options du gite</h3>

            <p>{{ gite.options }}</p>
            <h4>Capacité</h4>

            <p>
                <strong>{{ gite.capacity }}
                    personnes</strong>
            </p>
        </div>

        <div class="cell cell--4-col">
            <div class="grid">
                {{ render(controller('GiteBundle:Reservation:preresa', {'idGite' : gite.id})) }}
                <div class="cell cell--12-col t_center">
                    A partir de
                    <strong>{{ gite.prix }}€</strong>
                    la semaine
                </div>
            </div>
        </div>

    </div>
{% endblock %}