{% extends "HomeBundle::Main/layout.html.twig" %}

{% block body -%}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    <br>

    {{ form_end(form) }}

    <h3>images</h3>

    <ul class="images">
        {% for image in galerie.images %}
            <li>{{ image.alt }}</li>
            <li>{{ image.url }}</li>
            <hr>
        {% endfor %}
    </ul>

{% endblock %}
