{% extends "HomeBundle::Main/layout.html.twig" %}

{% block body -%}
    {{ form_start(galleryForm) }}
    {{ form_errors(galleryForm) }}

    {{ form_row(galleryForm.name) }}
    <br>

    {{ form_end(galleryForm) }}

    <h3>images</h3>

    <ul class="images">
        {% for image in galerie.images %}
            <li>{{ image.alt }}</li>
            <li>
                <img src="{{ asset('galeries/galerie_'~ galerie.id ~ '/' ~ image.url) | imagine_filter('my_thumb') }}"/>
            </li>
            <hr>
        {% endfor %}
    </ul>

    {{ form_start(imageForm) }}
    {{ form_errors(imageForm) }}
    <br>

    {{ form_end(imageForm) }}

{% endblock %}
